email-to-calendar/workflow.json
{
  "name": "Daily Email → Calendar",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            }
          ]
        }
      },
      "id": "1a2b3c4d-5e6f-7890-abcd-ef1234567890",
      "name": "Every Day 03:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 304]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "q": "newer_than:1d"
        },
        "options": {}
      },
      "id": "2b3c4d5e-6f7a-8901-bcde-f12345678901",
      "name": "Get Emails Last 24h",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [464, 304],
      "webhookId": "43c55fff-c40d-4cf3-9c6d-f7540fd9f845",
      "credentials": {
        "gmailOAuth2": {
          "id": "C5i2ndOiLReUN8j1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following email and determine if it contains an appointment suggestion, meeting invitation, or any proposed date and time.\n\nFrom: {{ $json.from }}\nSubject: {{ $json.subject }}\nDate received: {{ $json.date }}\nBody:\n{{ $json.text || $json.snippet || '' }}\n\nReturn ONLY a valid JSON object with no extra text, no markdown, no code blocks:\n{\n  \"hasAppointment\": true or false,\n  \"title\": \"event title (use subject if no specific title)\",\n  \"date\": \"YYYY-MM-DD\",\n  \"startTime\": \"HH:MM in 24h format\",\n  \"endTime\": \"HH:MM in 24h format\",\n  \"description\": \"brief summary of the appointment\",\n  \"location\": \"location or empty string\"\n}\n\nIf no appointment is found, return: { \"hasAppointment\": false }",
        "options": {}
      },
      "id": "3c4d5e6f-7a8b-9012-cdef-123456789012",
      "name": "Analyze with Claude",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [688, 304]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {
          "maxTokensToSample": 512,
          "temperature": 0
        }
      },
      "id": "4d5e6f7a-8b9c-0123-def0-234567890123",
      "name": "Claude Haiku 4.5",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [688, 528],
      "credentials": {
        "anthropicApi": {
          "id": "gdblTnIJLQQv68a8",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const blank = v => !v || v.trim() === '' || v.trim().toLowerCase() === 'empty';\n\nreturn $input.all().map(item => {\n  const response = item.json.text || '';\n\n  let data = {\n    hasAppointment: false,\n    title: '',\n    date: '',\n    startTime: '',\n    endTime: '',\n    description: '',\n    location: ''\n  };\n\n  try {\n    const match = response.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      data = { ...data, ...JSON.parse(match[0]) };\n    }\n  } catch (e) {}\n\n  // Require a valid date\n  if (data.hasAppointment && blank(data.date)) {\n    data.hasAppointment = false;\n  }\n\n  // Normalize \"empty\" strings to actual empty\n  if (blank(data.location)) data.location = '';\n  if (blank(data.description)) data.description = '';\n\n  // Default times when missing or \"empty\"\n  if (blank(data.startTime)) data.startTime = '09:00';\n  if (blank(data.endTime)) {\n    const [h, m] = data.startTime.split(':').map(Number);\n    data.endTime = String(h + 1).padStart(2, '0') + ':' + String(m).padStart(2, '0');\n  }\n\n  return { json: data };\n});"
      },
      "id": "5e6f7a8b-9c0d-1234-ef01-345678901234",
      "name": "Parse Appointment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, 304]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-appointment",
              "leftValue": "={{ $json.hasAppointment }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6f7a8b9c-0d1e-2345-f012-456789012345",
      "name": "Has Appointment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 304]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ $json.date + 'T' + $json.startTime + ':00' }}",
        "end": "={{ $json.date + 'T' + $json.endTime + ':00' }}",
        "additionalFields": {
          "summary": "={{ $json.title }}",
          "description": "={{ $json.description }}",
          "location": "={{ $json.location }}"
        }
      },
      "id": "7a8b9c0d-1e2f-3456-0123-567890123456",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1344, 192],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "LMpic6yP3rvdyS5p",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "id": "8b9c0d1e-2f3a-4567-1234-678901234567",
      "name": "No Appointment Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1344, 432]
    }
  ],
  "connections": {
    "Every Day 03:00": {
      "main": [
        [{ "node": "Get Emails Last 24h", "type": "main", "index": 0 }]
      ]
    },
    "Get Emails Last 24h": {
      "main": [
        [{ "node": "Analyze with Claude", "type": "main", "index": 0 }]
      ]
    },
    "Analyze with Claude": {
      "main": [
        [{ "node": "Parse Appointment", "type": "main", "index": 0 }]
      ]
    },
    "Claude Haiku 4.5": {
      "ai_languageModel": [
        [{ "node": "Analyze with Claude", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Parse Appointment": {
      "main": [
        [{ "node": "Has Appointment?", "type": "main", "index": 0 }]
      ]
    },
    "Has Appointment?": {
      "main": [
        [{ "node": "Create Calendar Event", "type": "main", "index": 0 }],
        [{ "node": "No Appointment Found", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
