email-to-calendar/workflow.json
{
  "name": "Daily Email → Calendar + AFFiNE Todos",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 3 }] }
      },
      "id": "1a2b3c4d-5e6f-7890-abcd-ef1234567890",
      "name": "Every Day 03:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 304]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": { "q": "newer_than:1d" },
        "options": {}
      },
      "id": "2b3c4d5e-6f7a-8901-bcde-f12345678901",
      "name": "Get Emails Last 24h",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [464, 304],
      "webhookId": "43c55fff-c40d-4cf3-9c6d-f7540fd9f845",
      "credentials": {
        "gmailOAuth2": { "id": "C5i2ndOiLReUN8j1", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this email and extract two things:\n1. Any appointment / meeting with a specific proposed date and time\n2. Any action item that requires follow-up\n\nFrom: {{ $json.from }}\nSubject: {{ $json.subject }}\nDate: {{ $json.date }}\nBody:\n{{ $json.text || $json.snippet || '' }}\n\nReturn ONLY this JSON (no markdown, no code blocks):\n{\n  \"hasAppointment\": true or false,\n  \"title\": \"calendar event title\",\n  \"date\": \"YYYY-MM-DD or empty\",\n  \"startTime\": \"HH:MM in 24h or empty\",\n  \"endTime\": \"HH:MM in 24h or empty\",\n  \"description\": \"short appointment description or empty\",\n  \"location\": \"location or empty\",\n  \"hasTodo\": true or false,\n  \"todoTitle\": \"short action item, max 80 chars\",\n  \"todoDescription\": \"what specifically needs to be done or empty\"\n}\n\nRules:\n- hasAppointment: ONLY true when a specific date is explicitly proposed\n- hasTodo: true when any follow-up action is required (reply, review, purchase, register, etc.)\n- hasTodo: false for purely informational emails with no action needed",
        "options": {}
      },
      "id": "3c4d5e6f-7a8b-9012-cdef-123456789012",
      "name": "Analyze with Claude",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [688, 304]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": { "maxTokensToSample": 512, "temperature": 0 }
      },
      "id": "4d5e6f7a-8b9c-0123-def0-234567890123",
      "name": "Claude Haiku 4.5",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [688, 528],
      "credentials": {
        "anthropicApi": { "id": "gdblTnIJLQQv68a8", "name": "Anthropic account" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const blank = v => !v || v.trim() === '' || v.trim().toLowerCase() === 'empty';\n\nlet emailItems = [];\ntry { emailItems = $('Get Emails Last 24h').all(); } catch(e) {}\n\nreturn $input.all().map((item, idx) => {\n  const response = item.json.text || '';\n  const email = emailItems[idx]?.json || {};\n\n  let data = {\n    hasAppointment: false,\n    title: '',\n    date: '',\n    startTime: '',\n    endTime: '',\n    description: '',\n    location: '',\n    hasTodo: false,\n    todoTitle: '',\n    todoDescription: '',\n    emailFrom: email.from || '',\n    emailDate: email.date || '',\n    emailSubject: email.subject || ''\n  };\n\n  try {\n    const match = response.match(/\\{[\\s\\S]*\\}/);\n    if (match) data = { ...data, ...JSON.parse(match[0]) };\n  } catch (e) {}\n\n  // --- Appointment normalization ---\n  if (data.hasAppointment && blank(data.date)) data.hasAppointment = false;\n  if (blank(data.location))    data.location    = '';\n  if (blank(data.description)) data.description = '';\n  if (blank(data.startTime))   data.startTime   = '09:00';\n  if (blank(data.endTime)) {\n    const [h, m] = data.startTime.split(':').map(Number);\n    data.endTime = String(h + 1).padStart(2, '0') + ':' + String(m).padStart(2, '0');\n  }\n\n  // --- Todo normalization ---\n  if (data.hasTodo && blank(data.todoTitle)) data.hasTodo = false;\n  if (blank(data.todoTitle))       data.todoTitle       = email.subject || 'Follow-up';\n  if (blank(data.todoDescription)) data.todoDescription = '';\n\n  return { json: data };\n});"
      },
      "id": "5e6f7a8b-9c0d-1234-ef01-345678901234",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, 304]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "cond-appointment",
            "leftValue": "={{ $json.hasAppointment }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "true" }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6f7a8b9c-0d1e-2345-f012-456789012345",
      "name": "Has Appointment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 160]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true, "value": "primary", "mode": "list", "cachedResultName": "primary"
        },
        "start": "={{ $json.date + 'T' + $json.startTime + ':00' }}",
        "end":   "={{ $json.date + 'T' + $json.endTime   + ':00' }}",
        "additionalFields": {
          "summary":     "={{ $json.title }}",
          "description": "={{ $json.description }}",
          "location":    "={{ $json.location }}"
        }
      },
      "id": "7a8b9c0d-1e2f-3456-0123-567890123456",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1340, 60],
      "credentials": {
        "googleCalendarOAuth2Api": { "id": "LMpic6yP3rvdyS5p", "name": "Google Calendar account" }
      }
    },
    {
      "parameters": {},
      "id": "8b9c0d1e-2f3a-4567-1234-678901234567",
      "name": "No Appointment",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 260]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "cond-todo",
            "leftValue": "={{ $json.hasTodo }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "true" }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9c0d1e2f-3a4b-5678-2345-890123456789",
      "name": "Has Todo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 448]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://affine-todo-bridge:3000/todo",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.todoTitle, description: $json.todoDescription, emailFrom: $json.emailFrom, emailDate: $json.emailDate }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-3456-901234567890",
      "name": "Create AFFiNE Todo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 380]
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-f6a7-8901-4567-012345678901",
      "name": "No Todo",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 548]
    }
  ],
  "connections": {
    "Every Day 03:00": {
      "main": [[{ "node": "Get Emails Last 24h", "type": "main", "index": 0 }]]
    },
    "Get Emails Last 24h": {
      "main": [[{ "node": "Analyze with Claude", "type": "main", "index": 0 }]]
    },
    "Analyze with Claude": {
      "main": [[{ "node": "Parse Result", "type": "main", "index": 0 }]]
    },
    "Claude Haiku 4.5": {
      "ai_languageModel": [[{ "node": "Analyze with Claude", "type": "ai_languageModel", "index": 0 }]]
    },
    "Parse Result": {
      "main": [[
        { "node": "Has Appointment?", "type": "main", "index": 0 },
        { "node": "Has Todo?",        "type": "main", "index": 0 }
      ]]
    },
    "Has Appointment?": {
      "main": [
        [{ "node": "Create Calendar Event", "type": "main", "index": 0 }],
        [{ "node": "No Appointment",        "type": "main", "index": 0 }]
      ]
    },
    "Has Todo?": {
      "main": [
        [{ "node": "Create AFFiNE Todo", "type": "main", "index": 0 }],
        [{ "node": "No Todo",            "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null
}
